* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* Editor Styles */
.editor {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	height: 60vh;
	background-color: #060606;
	border-top: 1px solid gray;
}

/* Individual Pane Styles */
.pane {
	margin: 0px 10px 0px;
	height: 96%;
	min-width: 15%;
	width: 90%;
	flex-basis: 1;
	color: #060606;
	border: 1px solid gray;
	border-top: none;
	position: relative;
}

textarea {
	height: 10vh;
}

/* Functionality for MIN of Pane */
.shrink {
	width: 15%;
	animation: flexAnimationMin 0.5s ease-in;
}

@keyframes flexAnimationMin {
	0% {
		width: 90%;
	}

	100% {
		width: 15%;
	}
}

/* Functionality for MAX of Pane */
.expand {
	width: 90%;
	animation: flexAnimationMax 0.5s ease-in;
}
@keyframes flexAnimationMax {
	0% {
		width: 15%;
	}

	100% {
		width: 90%;
	}
}

/* Navbar */
.navigation-bar {
	width: 100%;
	height: 10vh;

	border: 1px solid #060606;
}

.navigation-icons {
	width: 100%;
	height: 100%;
	padding: 20px 0;
	list-style: none;
	color: white;
	background-color: #060606;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navigation-icons > *:hover {
	cursor: pointer;
}
.filename {
	color: white;
	margin-right: 20px;
	font-size: 30px;
	text-decoration: underline;
}
.pencil {
	margin-left: 10px;
}
.filename:focus {
	outline: none;
}

.filename > label:focus {
	outline: none;
}

h4 {
	color: #292828;
	padding: 20px;
	display: inline-block;
	background-color: #f7f7f7;
	transition: background-color 0.4s ease-in-out;
}

span.min-btn {
	color: white;

	position: absolute;
	right: 10px;
	top: 20px;
}

span.min-btn:hover {
	cursor: pointer;
}

.html,
.css,
.js {
	margin-right: 10px;
	font-size: 30px;
}
.html {
	color: #e34c26;
}
.css {
	color: #264de4;
}

.js {
	color: #f0db4f;
}

#userFileName {
	background-color: #292828;
	color: white;
	font-size: 28px;
	padding: 5px;
}
#userFileName:focus {
	outline: none;
}

/* Output Styles */
.output {
	width: 100%;
	height: 30vh;
	padding: 10px;
}
.output-display {
	width: 100%;
	height: 100%;
	border: none;
}

/* Error Handling */

#bug {
	margin: 0 0 0 10px;
	color: rgb(255, 0, 0);
	visibility: hidden;
	font-size: 1.5rem;
	transition: visibility 0.5s ease-in-out;
}
#bug.showBug {
	visibility: visible;
}

/* Side View */

.editor.side {
	flex-direction: column;
	width: 60%;
	height: 180vh;
}
.wrapper.side {
	display: flex;
	flex-direction: row;
}
.output.side {
	width: 40%;
	height: 90vh;
	position: sticky;
	top: 10vh;
}
body.side {
	overflow-y: scroll;
}
.navigation-bar.side {
	z-index: 10;
	position: sticky;
	top: 0;
}
